@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.PromotionPlanngOverviewDto

@*----------------- Promotion planning header -----------------*@
<div class="row mb-2">
    <div class="col col-lg p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h6>Overview</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-lg-10">

                        <div class="row">

                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Client
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().ComboBox("cmb-client")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetClient")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.CLIENT_CODE)
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Customer
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().ComboBox("cmb-customer")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCustomer")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.CUST_CODE)
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Channel
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                        
                                            @(Html.EJS().ComboBox("cmb-channel")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetChannel/false")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.CHANNEL_CODE)
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Customer Segment
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().ComboBox("cmb-cust-segment")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetOrganization")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Enabled(false)
                                                        //.Change("page.cmbPositionChange")
                                                        .CssClass("disabled") //.CssClass("mandatory")
                                                        .Value(Model.CUST_SEGMENT)
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Promo Start
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                        
                                            @(Html.EJS().DatePicker("drpPromoStart")
                                                                        .Placeholder("Choose a Range")
                                                                        .Format("dd/MM/yyyy")
                                                                        .Enabled(false)
                                                                        .CssClass("disabled")
                                                                        .Value(Model.PROMO_START)
                                                                        .Render())

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Promo End
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().DatePicker("drpPromoEnd")
                                                                        .Placeholder("Choose a Range")
                                                                        .Format("dd/MM/yyyy")
                                                                        .Enabled(false)
                                                                        .CssClass("disabled")
                                                                        .Value(Model.PROMO_END)
                                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Buying Start
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().DatePicker("drpBuyStart")
                                                                        .Placeholder("Choose a Range")
                                                                        .Format("dd/MM/yyyy")
                                                                        .Enabled(false)
                                                                        .CssClass("disabled")
                                                                        .Value(Model.BUYING_START)
                                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Buying End
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                        
                                            @(Html.EJS().DatePicker("drpBuyEnd")
                                                                        .Placeholder("Choose a Range")
                                                                        .Format("dd/MM/yyyy")
                                                                        .Enabled(false)
                                                                        .CssClass("disabled")
                                                                        .Value(Model.BUYING_END)
                                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label for="txt-sale" class="col col-lg-4 control-label text-right">
                                        Total Sale Target (THB)
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().TextBox("txt-sale")
                                                        .Placeholder("0.00")
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.TOTAL_EST_SALE.ToString("N2"))
                                                        .Render())
                                        
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label for="txt-invest" class="col col-lg-4 control-label text-right">
                                        Total Invesment (THB)
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                        
                                            @(Html.EJS().TextBox("txt-invest")
                                                        .Placeholder("0.00")
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.TOTAL_EST_INVEST.ToString("N2"))
                                                        .Render())

                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label for="txt-ratio" class="col col-lg-4 control-label text-right">
                                        Sale vs Invesments (%)
                                    </label>
                                    <div class="col col-lg-8">
                                        @if (Model != null)
                                        {
                                            @(Html.EJS().TextBox("txt-ratio")
                                                        .Placeholder("0.00")
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Value(Model.SALE_VS_INVEST.ToString("N2"))
                                                        .Render())
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
