
@{ ViewBag.Title = "My Pending"; }
@using GFCA.APT.Domain.HTTP.Controls
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@using GFCA.APT.WEB.Helpers

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }


        .pointer-cursor {
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

            .pointer-cursor:hover {
            }

        .e-checkbox-wrapper {
            transform: scale(1.5);
        }
    </style>
}

@section DialogPlaceholder
{
    <!-- BEGIN DialogPlaceholder -->
    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp" style="width:650px; height:300px;">
        </div>
    </script>

    <!-- BEGIN DialogPlaceholder -->
}

@section ContentPlaceholder
{
    <!-- Content Header (Page header) -->
    <div class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-lg-12 p-1">

                    <div class="card card-success card-outline">

                        <div class="card-header">


                            <h6> Pending Approver</h6>

                        </div>

                        <div class="card-body text-sm p-1">
                            @(Html.EJS()
                                  .Grid("grdPromotion")
                                  .Height("450")
                                  .DataSource(ds =>
                                  {
                                      ds
                                      .Url(@Url.Action("UrlPromotionHeaderPendingList", "Promotion", new { Area = "Transactions" }))
                                      .Adaptor("UrlAdaptor");
                                  })
                                  .ShowColumnMenu(false).AllowSorting()
                                  .AllowPaging(true).PageSettings(page => page.PageCount(5))
                                  .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
                                  .AllowExcelExport()

                                  .EditSettings(edit =>
                                  {
                                      edit
                                      .AllowEditOnDblClick(false)
                                      .AllowAdding(false)
                                      .AllowEditing(false)
                                      .AllowDeleting(false).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
                                      .Mode(EditMode.Dialog);
                                  })

                                  .Columns(col =>
                                  {

                                      col.Type("checkbox").Field("IsCheck").Width("80").HeaderTextAlign(TextAlign.Center).AllowFiltering(false).TextAlign(TextAlign.Center).Add();
                                      col.Field("DOC_PROM_PH_ID").HeaderText("No.").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();

                                      col.Field("DOC_CODE").Template("#template").HeaderText("Doc no.").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();




                                      col.Field("DOC_VER").HeaderText("Version").Width("100").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("DOC_REV").HeaderText("Revision").Width("100").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CUST_NAME").HeaderText("Customer").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CHANNEL_NAME").HeaderText("Channel").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CLIENT_NAME").HeaderText("Client").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_BY").HeaderText("Requester").Width("200").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_DATE").HeaderText("Created Date").Width("200").Format("dd-MM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Center).Add();
                                  })
                                  .Render())

                        </div>

                    </div><!-- /.card -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    @Html.Partial("~/Areas/Transactions/Views/Promotion/_Popup_PromotionHeader.cshtml")
}

@section preScripts
{
    <script>
        var urlServices = {


            CurrentUrl: "@Url.Action("index", "Promotion", new { Area = "Transactions" })",
            PendingUrl: "@Url.Action("Pendings", "Promotion", new { Area = "Transactions" })",
            AddHeader : "@Url.Action("CreatePromotionPlanngOverview", "Promotion", new { Area = "Transactions" })",
            Delete: "@Url.Action("Delete", "Promotion", new { Area = "Transactions" })",
            ApproveSelect: "@Url.Action("ApprovePromotionSelect", "Promotion", new { Area = "Transactions" })",
             Approve: "@Url.Action("ApprovePromotionPlanning", "Promotion", new { Area = "Transactions" })",
        }

        var btnHtml = "@BtnControltHelper.btnHtml("APP","APPROVAL")"

    </script>

    <script id="template" type="text/x-template">

        <a onClick=PromotionItem('${DOC_PROM_PH_ID}') class="pointer-cursor">${DOC_CODE}</a>

    </script>

    <script id="templateAddValue" type="text/x-template">

        value=${DOC_CODE}

    </script>

    <script>
        $(document).ready(function () {

            $("#btn-command").html(btnHtml);


            $("#btn-approve").click(function () {

                getSelected();
            });

        });

        function PromotionItem(DOC_PROM_PH_ID) {

            window.location = urlServices.CurrentUrl + '/' + DOC_PROM_PH_ID;
        }

        function Approve(Ids) {

            var postData = { values: Ids };

     

            $.ajax({
                type: 'POST',
                url: urlServices.ApproveSelect,
                dataType: 'json',
                data: postData,
                success: function (res) {

                    var obgData_Json = JSON.parse(res.data);
           
                    if (obgData_Json.Success) {



                        window.location = '/T/Pendings';



                    }
                    else {

                        $.toast({
                            type: "error",
                            title: "error",
                            subtitle: (new Date()).toDateString(),
                            content: JSON.stringify(data),
                            delay: 7000
                        });
 
                    }


                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });






        }

 



        function getSelected() {

            const Ids = [];

            var  i;
            i = 0;



            $('#grdPromotion_content_table  tbody tr').each(function () {



                var IsCheck = $(this).find('td').find('input[type=checkbox]:checked').val();
                if (IsCheck=="on") {

                    var Id = $(this).find("td").eq(1).html();
                    Ids[i] = Id

                    i++;

             
                }

 

            });

            if (Ids.length > 0) {


                BootstrapDialog.show({
                    message: 'Are you sure you want to Approve?',
                    type: BootstrapDialog.TYPE_DEFAULT,
                    title: 'Submit',
                    buttons: [
                        {
                            label: 'Ok',
                           
                            data: {
                                js: 'btn-confirm',
                            },
                            action: function (dialogItself) {
                                Approve(Ids);
                                dialogItself.close();
                            }
                        }, {
                            label: 'Cancel',
                            action: function (dialogItself) {
                                dialogItself.close();
                            }
                        }]

                });

               
            }


        }


    </script>


}

