
@{ ViewBag.Title = "My Pending"; }
@using GFCA.APT.Domain.HTTP.Controls
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }


        .pointer-cursor {
            cursor: pointer;
            text-decoration: none;
            color: black;
        }

            .pointer-cursor:hover {
            }

        .e-checkbox-wrapper {
            transform: scale(1.5);
        }
    </style>
}

@section DialogPlaceholder
{
    <!-- BEGIN DialogPlaceholder -->
    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp" style="width:650px; height:300px;">
        </div>
    </script>

    <!-- BEGIN DialogPlaceholder -->
}

@section ContentPlaceholder
{
    <!-- Content Header (Page header) -->
    <div class="content-header">


        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-lg-12 p-1">

                    <div class="card card-success card-outline">
                        <div class="card-header">


                            <h6> Pending Approver</h6>

                        </div>

                        <div class="card-body text-sm p-1">
                            @(Html.EJS()
                                  .Grid("grdPromotion")
                                  .Height("450")
                                  .DataSource(ds =>
                                  {
                                      ds
                                      .Url(@Url.Action("UrlPromotionHeaderPendingList", "Promotion", new { Area = "Transactions" }))
                                      .Adaptor("UrlAdaptor");
                                  })
                                  .ShowColumnMenu(false).AllowSorting()
                                  .AllowPaging(true).PageSettings(page => page.PageCount(5))
                                  .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
                                  .AllowExcelExport()
                                  .RowDeselected("OnRowDeselected_1")
                                  .RowSelected("OnRowSelected_1")
                                  .EditSettings(edit =>
                                  {
                                      edit
                                      .AllowEditOnDblClick(false)
                                      .AllowAdding(false)
                                      .AllowEditing(false)
                                      .AllowDeleting(false).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
                                      .Mode(EditMode.Dialog);
                                  })
                                 
                                  .Columns(col =>
                                  {

                                      col.Type("checkbox").Field("IsCheck").Width("80").HeaderTextAlign(TextAlign.Center).AllowFiltering(false).TextAlign(TextAlign.Center).Add();
                                      col.Field("DOC_CODE").Template("#template").HeaderText("Doc no.").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();




                                      col.Field("DOC_VER").HeaderText("Version").Width("100").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("DOC_REV").HeaderText("Revision").Width("100").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CUST_NAME").HeaderText("Customer").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CHANNEL_NAME").HeaderText("Channel").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CLIENT_NAME").HeaderText("Client").Width("150").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_BY").HeaderText("Requester").Width("200").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_DATE").HeaderText("Created Date").Width("200").Format("dd-MM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Left).TextAlign(TextAlign.Center).Add();
                                  })
                                  .Render())

                        </div>
                    </div><!-- /.card -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    @Html.Partial("~/Areas/Transactions/Views/Promotion/_Popup_PromotionHeader.cshtml")
}

@section preScripts
{
    <script>
        var urlServices = {
            CurrentUrl: "@Url.Action("index", "Promotion", new { Area = "Transactions" })",
            AddHeader : "@Url.Action("CreatePromotionPlanngOverview", "Promotion", new { Area = "Transactions" })",
            Delete    : "@Url.Action("Delete", "Promotion", new { Area = "Transactions" })",
        }
        var argruments = {
            data: null,
        }

        var OnRowSelected_1 = function (args) {
            console.log(args);
            argruments.data = args.data;
        }
        var OnRowDeselected_1 = function (args) {
            if (argruments.data == args.data) {
                argruments.data = null;
            }
        }


    </script>

    <script id="template" type="text/x-template">

        <a onClick=Approve('${DOC_PROM_PH_ID}') class="pointer-cursor">${DOC_CODE}</a>

    </script>

    <script>
        function Approve(DOC_PROM_PI_ID) {
           
            let url = urlServices.CurrentUrl + `/${DOC_PROM_PI_ID}`;
            window.location.href = url;
           
        }
    </script>

    @Scripts.Render("~/Scripts/transactions/promotionHeaderPopup.js")
}

@section scripts
{
    @Scripts.Render("~/Scripts/transactions/promotion.js")
}

