@using Syncfusion.EJ2.Popups
@using System.Collections.Generic
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.SaleForecastHeaderDto

@{
    Dictionary<string, object> disabled = new Dictionary<string, object>();
    disabled.Add("disabled", "true");
}

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.ui.widget.js"></script>
    <script src="~/Scripts/jquery.fileupload.js"></script>
<link rel="stylesheet" href="~/Content/jquery.fileupload.css">*@
@*<link href="http://hayageek.github.io/jQuery-Upload-File/4.0.11/uploadfile.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://hayageek.github.io/jQuery-Upload-File/4.0.11/jquery.uploadfile.min.js"></script>*@

<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Sale forecast detail</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div>
                        @using (Html.BeginForm("ImportFiles", "SaleForecast", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @*<span>Browse file</span>
                            <input id="excelfile" type="file" name="excelfile" accept=".xlsx">
                            <input type="submit" value="ImportFiles" />
                            @ViewBag.Message*@

                        }
                        @using (Html.BeginForm("UploadFile", "SaleForecast", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                        <div>
                            <span>Sale Forecast's file : </span>
                            @Html.TextBox("file", "", new { type = "file", accept = ".xlsx" })
                            <input type="submit" value="Import" />
                            @ViewBag.Message
                        </div>
                        }
                    </div>
        @*@Html.TextBox("file", "", new { type = "file" }) <br />
        <input type="button" value="ImportFiles" onclick="@Url.Action("ImportFiles", "SaleForecast")" />
        <div id="fileuploader">Upload</div>
        <span class="btn btn-warning fileinput-button">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
            <span>Browse file</span>
            <input id="fileupload" type="file" accept=".xlsx">
        </span>*@
                    @Html.Partial("ItemDetailGridSaleForecastPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    //    $('#fileupload').fileupload({
    //        dataType: 'json',
    //        url: '/T/SaleForecasts/ImportFiles',
    //        //autoUpload: true,
    //        done: function (e, data) {

    //        },
    //        submit: function (e, data) {

    //            var name = data.files["0"].name;
    //            var ext = name.split('.').pop().toLowerCase();
    //            if ($.inArray(ext, ['xlsx']) == -1) {
    //                alert('invalid extension!');
    //                return false
    //            }
    //        },
    //        success: function (response, status) {
    //            // Success callback

    //            BootstrapDialog.alert(response.message, function () {
    //                location.reload();
    //            });
    //        },
    //        error: function (error) {
    //            // Error callback

    //            alert(error.statusText);
    //        }
    //    });

    //    $("#fileuploader").uploadFile({
    //        dataType: 'json',
    //        url: '/T/SaleForecasts/ImportFiles',
    //        //autoUpload: true,
    //        done: function (e, data) {

    //        },
    //        submit: function (e, data) {

    //            var name = data.files["0"].name;
    //            var ext = name.split('.').pop().toLowerCase();
    //            if ($.inArray(ext, ['xlsx']) == -1) {
    //                alert('invalid extension!');
    //                return false
    //            }
    //        },
    //        success: function (response, status) {
    //            // Success callback

    //            BootstrapDialog.alert(response.message, function () {
    //                location.reload();
    //            });
    //        },
    //        error: function (error) {
    //            // Error callback

    //            alert(error.statusText);
    //        }
    //    });
    });
</script>