@*using Syncfusion.EJ2 *@
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APT</title>

    @Styles.Render("~/Content/cssLte")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/bootstrap3-dialog/1.34.7/bootstrap-dialog.css")" />
    @RenderSection("styles", required: false)
    @*Scripts.Render("~/Scripts/ej2/ej2.min.js")*@
</head>
<body class="hold-transition login-page layout-footer-fixed text-sm">

    @RenderBody()

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/polyfill")
    @Scripts.Render("~/bundles/jquerylte")


    @Scripts.Render("~/bundles/adminlte")
    <script src="@Url.Content("~/Content/plugins/bootstrap3-dialog/1.34.7/bootstrap-dialog.js")"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    @RenderSection("preScripts", required: false)
    @*Html.EJS().ScriptManager()*@
    @RenderSection("scripts", required: false)
    <script>
        var win = window;
        win.isManualResizeTrigger = true;
        setTimeout(function () { win.dispatchEvent(new Event('resize')); }, 500);
    </script>

</body>
</html>

