@{ ViewBag.Title = "BudgetPlanDetail"; }
@model GFCA.APT.Domain.Dto.BudgetPlanDto
@using Syncfusion.EJ2

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }
    </style>
}

<form autocomplete="off" class="form-horizontal">
    <div class="content-header">
        <div class="container-fluid">





            @*----------------- document header -----------------*@
            @@Html.Partial("../Default/ItemStateFlowPartial")

            @*----------------- bugdet planning header -----------------*@
            @Html.Partial("ItemHeaderPartial")

            @*----------------- bugdet planning detail -----------------*@
            @Html.Partial("ItemDetailPartial")

            @*----------------- bugdet planning footer -----------------*@
            @@Html.Partial("ItemFooterPartial")

            @*----------------- document footer -----------------*@
            @@Html.Partial("../Default/ItemHistoriesPartial")




        </div>
    </div>
</form>
@Html.Partial("~/Areas/Transactions/Views/BudgetPlan/_Popup_DetailGridInvestmentPartial.cshtml")
@Html.Partial("~/Areas/Transactions/Views/BudgetPlan/_Popup_DetailGridSalePartial.cshtml")

@section preScripts
{
    <!-- BEGIN preScripts -->
    <script>

            var urlServices = {
            CurrentUrl     : "@Url.Action("BudgetPlanItem", "BudgetPlan", new { Area = "Transactions", DOC_BGH_ID = Model.BudgetPlanHeader.DOC_BGH_ID })",
            AddSale        : "@Url.Action("CreateBudgetPlaningSale", "BudgetPlan", new { Area = "Transactions" })",
            AddInvestment  : "@Url.Action("CreateBudgetPlanningInvestment", "BudgetPlan", new { Area = "Transactions" })",
            EditSale       : "@Url.Action("EditPromotionPlanngSale", "BudgetPlan", new { Area = "Transactions" })",
            EditInvestment : "@Url.Action("EditPromotionPlanningInvestment", "BudgetPlan", new { Area = "Transactions" })",
            DeleteSale       : "@Url.Action("DeletePromotionPlanngSale", "BudgetPlan", new { Area = "Transactions" })",
            DeleteInvestment: "@Url.Action("DeletePromotionPlanningInvestment", "BudgetPlan", new { Area = "Transactions" })",
            }


  var argruments = {
      DOC_BGH_ID : "@Model.BudgetPlanHeader.DOC_BGH_ID",
            dataSale: null,
            dataInvest: null,
        }
        var OnRowSelected = function (args) {

            argruments.data = args.data;
        }
        var OnRowDeselected = function (args) {
            if (argruments.data == args.data) {
                argruments.data = null;
            }
        }
    </script>

    @Scripts.Render("~/Scripts/transactions/budgetPlanPopup.js")
    <!-- END preScripts -->

}

@section scripts
{
    @Scripts.Render("~/Scripts/transactions/budgetPlanItem.js")
    @Scripts.Render("~/Scripts/transactions/budgetPlan.js")

}

