@{
    ViewBag.Title = "BudgetPlanDetail";
}

@using Syncfusion.EJ2

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }
    </style>
}

<form autocomplete="off" class="form-horizontal">
    <div class="content-header">
        <div class="container-fluid">
            @*----------------- document header -----------------*@
            @Html.Partial("../Default/ItemHeaderPartial")

            @*----------------- bugdet planning header -----------------*@
            @Html.Partial("ItemHeaderPartial")

            @*----------------- bugdet planning detail -----------------*@
            @Html.Partial("ItemDetailPartial")

            @*----------------- bugdet planning footer -----------------*@
            @Html.Partial("../Default/ItemFooterPartial")
        </div>
    </div>
</form>
@Html.Partial("~/Areas/Transactions/Views/BudgetPlan/_Popup_DetailGridInvestmentPartial.cshtml")
@Html.Partial("~/Areas/Transactions/Views/BudgetPlan/_Popup_DetailGridSalePartial.cshtml")

@section preScripts
{
    <!-- BEGIN preScripts -->
    <script>

        var urlServices = {
            CurrentUrl: "@Url.Action("index", "BudgetPlan", new { Area = "Transactions" })",
            Add: "@Url.Action("Add", "BudgetPlan", new { Area = "Transactions" })",
            Edit: "@Url.Action("Edit", "BudgetPlan", new { Area = "Transactions" })",
            Delete: "@Url.Action("Delete", "BudgetPlan", new { Area = "Transactions" })",
        }

        var argruments = {
            data: null,
        }
    </script>

    @Scripts.Render("~/Scripts/transactions/budgetPlanPopup.js")
    <!-- END preScripts -->

}

@section scripts
{

    @Scripts.Render("~/Scripts/transactions/budgetPlan.js")

}

