@using GFCA.APT.Domain.HTTP.Controls
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@*----------------- bugdet planing detail -----------------*@
<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h5>Budget planning</h5>
            </div>
            <div class="card-body">

                <div class="row">

                    <div class="col col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label for="txt-sale" class="col col-lg-4 control-label text-right">
                                Total Sale Target (THB)
                            </label>
                            <div class="col col-lg-8">
                                @(Html.EJS().TextBox("txt-sale")
                                                    .Placeholder("0.00")
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Render())
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label for="txt-invest" class="col col-lg-4 control-label text-right">
                                Total Invesment (THB)
                            </label>
                            <div class="col col-lg-8">
                                @(Html.EJS().TextBox("txt-invest")
                                                    .Placeholder("0.00")
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Render())
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-12 col-lg-4">
                        <div class="form-group row">
                            <label for="txt-ratio" class="col col-lg-4 control-label text-right">
                                Sale vs Invesments (%)
                            </label>
                            <div class="col col-lg-8">
                                @(Html.EJS().TextBox("txt-ratio")
                                                    .Placeholder("0.00")
                                                    .Enabled(true)
                                                    .CssClass("mandatory")
                                                    .Render())
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-12 col-sm-12">
                        <div class="card card-info card-outline card-tabs">
                            <div class="card-header p-0 pt-1 border-bottom-0">
                                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#custom-tabs-three-home" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Sale</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#custom-tabs-three-profile" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Invesment</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">


                                <div class="row">

                                    <div class="tab-content" id="custom-tabs-three-tabContent">
                                        <div class="tab-pane fade show active" id="custom-tabs-three-home" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">

                                            @Html.Partial("ItemDetailGridSalePartial", "BP-202109-000001-0101")

                                        </div>
                                        <div class="tab-pane fade" id="custom-tabs-three-profile" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">

                                            @Html.Partial("ItemDetailGridInvestmentPartial", "BP-202109-000001-0101")

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>

                <div class="row">

                </div>
            </div>

            <div class="card-footer">
                <div>

                    <div class="row">
                        <div class="col col-sm-12 col-lg-3 offset-lg-9">

                            <!-- Confirm State -->
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-default">Cancel</button>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
