@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.BudgetPlanDto
@{ Dictionary<string, object> disabled = new Dictionary<string, object>();
    disabled.Add("disabled", "true"); }

@*----------------- bugdet planing header -----------------*@
<div class="row mb-2">
    <div class="col col-lg p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h6>Budget planning by</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-lg-10">

                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Company
                                    </label>
                                    <div class="col-sm-9 col-md-10 col-lg-9">
                                        @(Html.EJS().ComboBox("pop-cmb-company")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCompany")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.BudgetPlanHeader.COMP_CODE)
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Change("budgetPlanHeaderPopup.OnCompanyChangeValue")

                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Document No
                                    </label>
                                    <div class="col-sm-9 col-md-10 col-lg-9">
                                        @Html.EJS().TextBox("pop-txt-document-no").Placeholder("[Auto generate]").HtmlAttributes(disabled).Render()
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        BudGetType
                                    </label>
                                    <div class="col-sm-9 col-md-10 col-lg-9">
                                        @(Html.EJS().ComboBox("pop-cmb-budgettype")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(false)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetClient")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.BudgetPlanHeader.BG_TYPE_CODE)
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Change("budgetPlanHeaderPopup.OnClientChangeValue")

                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Customer
                                    </label>
                                    <div class="col-sm-9 col-md-10 col-lg-9">
                                        @(Html.EJS().ComboBox("pop-cmb-customer")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(false)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCustomer")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.BudgetPlanHeader.CUST_CODE)
                                                        .Enabled(false)
                                                        .CssClass("disabled")
                                                        .Change("budgetPlanHeaderPopup.OnCustomerChangeValue")

                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Actual
                                    </label>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @Html.EJS().TextBox("pop-txt-actual").Value(Model.BudgetPlanHeader.ACTUAL.ToString("###,###")).Enabled(false).CssClass("disabled").Render()
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Amount
                                    </label>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @Html.EJS().TextBox("pop-txt-budget_amount").Value(Model.BudgetPlanHeader.BUDGET_AMOUNT.ToString("###,###")).Enabled(false).CssClass("disabled").Render()
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                        Year
                                    </label>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        @Html.EJS().TextBox("pop-txt-fiscal_year").Value(Model.BudgetPlanHeader.FISCAL_YEAR.ToString()).Enabled(false).CssClass("disabled").Render()
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-md-2 col-lg-3 control-label">
                                         
                                    </label>
                                    <div class="col-sm-9 col-md-10 col-lg-9">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>







                         
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>