@model GFCA.APT.WEB.Areas.Masters.Data.BrandViewModel
@using Syncfusion.EJ2

<div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                @Html.TextBox("BrandId", Model.BrandId.ToString(), new { disabled = true })
                <span class="e-float-line"></span>
                @Html.Label("BrandId", "Brand ID", new { @class = "e-float-text e-label-top" })
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                @Html.TextBox("BrandCode", Model.BrandCode.ToString())
                <span class="e-float-line"></span>
                @Html.Label("BrandCode", "Brand Code", new { @class = "e-float-text e-label-top" })
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                @Html.TextBox("BrandName", Model.BrandName.ToString())
                <span class="e-float-line"></span>
                @Html.Label("BrandName", "Brand Name", new { @class = "e-float-text e-label-top" })
            </div>
        </div>
    </div>

</div>

@Html.EJS().ScriptManager()
