
@{
    ViewBag.Title = "Product";
}

@{
#if DNX48
ViewBag.Title = "Product";
#endif
}
@using GFCA.APT.Domain.HTTP.Controls
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }
    </style>
}

@section DialogPlaceholder
{
    <!-- BEGIN DialogPlaceholder -->
    <script id='dialogtemplate' type="text/x-template">
        <div id="dialogTemp" style="width:650px; height:300px;">
        </div>
    </script>

    <!-- BEGIN DialogPlaceholder -->
}

@section ContentPlaceholder
{
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-lg-12 p-1">
                    <div class="card card-success card-outline">
                        <div class="card-body text-sm p-1">
                            @(Html.EJS()
                                  .Grid("grdProduct")
                                  .Height("450")

                                  .DataSource(ds =>
                                  {
                                      ds
                                      .Url(@Url.Action("UrlDataSource", "Product", new { Area = "Masters" }))
                                      .Adaptor("UrlAdaptor")
                                      ;
                                  })
                                  .ShowColumnMenu(false).AllowSorting()
                                  .AllowPaging(true).PageSettings(page => page.PageCount(5))
                                  .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
                                  .AllowExcelExport()

                                  .Toolbar(new List<object>() { 
                                      new { id ="toolbar_add", text = "Add", prefixIcon = "e-icons e-add" },
                                      new { id ="toolbar_edit", text = "Edit", prefixIcon = "e-icons e-edit" },
                                      new { id ="toolbar_del", text = "Delete", prefixIcon = "e-icons e-delete" },
                                      new { id ="toolbar_excel", text = "Export Excel", prefixIcon = "e-icons e-excelexport" },
                                      new { id = "toolbar_print", text = "Print", prefixIcon = "e-icons e-print" }
                                  })


                                  .ToolbarClick("productPopup.OnExcelExportClick")
                                  .EditSettings(edit =>
                                  {
                                      edit
                                      .AllowEditOnDblClick(false)
                                      .AllowAdding(false)
                                      .AllowEditing(true)
                                      .AllowDeleting(false).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
                                      .Mode(EditMode.Dialog)
                                      .Template("#dialogtemplate");
                                  })
                                  .DataBound("productPopup.OnDataBound")
                                  //.ActionComplete("productPopup.OnActionComplete")
                                  //.ActionBegin("productPopup.OnActionBegin")
                                  //.ActionFailure("productPopup.OnActionFailure")
                                  //.RowSelecting("productPopup.OnRowSelecting")
                                  .RowDeselected("productPopup.OnRowDeselected")
                                  .RowSelected("productPopup.OnRowSelected")
                                  .Columns(col =>
                                  {

                                      col.Field("PROD_CODE").HeaderText("Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Left).Add();

                      
                                      col.Field("PROD_NAME").HeaderText("Name").Width("250").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();

                                      col.Field("MAT_CODE").HeaderText("Mat. Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("DIV_CODE").HeaderText("Div. Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("DIV_NAME").HeaderText("Div. Name").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("CUST_CODE").HeaderText("Cust. Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Add();
                                      col.Field("CUST_NAME").HeaderText("Cust. Name").Width("350").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Add();
                                      col.Field("ORG_CODE").HeaderText("Org. Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("ORG_NAME").HeaderText("Org. Name").Width("300").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("EMIS_CODE").HeaderText("EMIS Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("EMIS_NAME").HeaderText("EMIS Name").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("MAT_GROUP").HeaderText("Mat. Grp").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("MAT_GROUP_DESC ").HeaderText("Mat.Grp. Desc").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("MAT_GROUP1").HeaderText("Mat. Grp1").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("MAT_GROU1_DESC ").HeaderText("Mat.Grp1. Desc ").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("MAT_GROUP2").HeaderText("Mat. Grp2").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("MAT_GROU2_DESC ").HeaderText("Mat.Grp2. Desc ").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();



                                      col.Field("MAT_GROUP3").HeaderText("Mat. Grp3").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("MAT_GROU3_DESC ").HeaderText("Mat.Grp3. Desc ").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("MAT_GROUP4").HeaderText("Mat. Grp4").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("MAT_GROU4_DESC ").HeaderText("Mat.Grp4. Desc ").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();



                                      col.Field("FORMULA").HeaderText("Formula").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("PACK ").HeaderText("Pack").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();

                                      col.Field("PACK_DESC ").HeaderText("Pack Desc").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();







                                      col.Field("SIZE").HeaderText("Size").Width("100").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("UOM_SIZE").HeaderText("Uom Size").Width("100").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("UOM_SALE").HeaderText("Uom Sale").Width("100").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();


                                      col.Field("UNIT_CODE").HeaderText("Unit Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();

                                      col.Field("CONV_FCL").HeaderText("CONV FCL ").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("CONV_L").HeaderText("CONV L ").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();

                                      col.Field("CREATED_BY").HeaderText("Create By").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_DATE").HeaderText("Created Date").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Format("dd-MMM-yyyy hh:mm:ss").Add();
                                      col.Field("UPDATED_BY").HeaderText("Updated By").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("UPDATED_DATE").HeaderText("Updated Date").Width("200").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Format("dd-MMM-yyyy hh:mm:ss").Add();
                                      col.Field("FLAG_ROW").HeaderText("Status").Width("100").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Right).Add();

                                  })
                                  .Render())

                        </div>
                    </div><!-- /.card -->
                </div>
            </div><!-- /.row -->

        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    @Html.Partial("~/Areas/Masters/Views/Product/_Popup_Product.cshtml")
}

@section preScripts
{
    <!-- BEGIN preScripts -->
    <script>

        var urlServices = {
            CurrentUrl: "@Url.Action("index", "Product", new { Area = "Masters" })",
            Add: "@Url.Action("Add", "Product", new { Area = "Masters" })",
            Edit: "@Url.Action("Edit", "Product", new { Area = "Masters" })",
            Delete: "@Url.Action("Delete", "Product", new { Area = "Masters" })",
        }

        var argruments = {
            data: null,
        }
    </script>

    @Scripts.Render("~/Scripts/masters/productPopup.js")
    <!-- END preScripts -->

}

@section scripts
{

    @Scripts.Render("~/Scripts/masters/product.js")

}
