@{
    IEnumerable<GFCA.APT.Domain.Dto.Workflow.CommandDto> commands = ViewBag.WorkflowCommands as IEnumerable<GFCA.APT.Domain.Dto.Workflow.CommandDto>;
}

@{
    if (commands != null)
    {
        foreach (var item in commands)
        {
            <li class="nav-item mr-sm-1">
                <button id="workflow-command-@(item.SORT)"
                        name="btn-workflow-commands"
                        class="@item.FLOW_ITEM_DESC"
                        data-state-code="@item.STATE_CODE"
                        data-workflow-code="@item.WF_CODE"
                        data-flow-item="@item.FLOW_ITEM_ID"
                        data-flow-code="@item.FLOW_ITEM_CODE"
                        data-flow-sort="@item.SORT">
                    @item.FLOW_ITEM_NAME
                </button>
            </li>
        }
    }
}

@*

    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-default">Clone</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-default">Draft</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Submit</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Re-Submit</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-danger">Cancel</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-primary">Approve</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-warning">Revise</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-info">Review</a></li>
    <li class="nav-item mr-sm-1"><a href="#" class="btn btn-sm btn-success">Commit</a></li>

*@
