@using GFCA.APT.Domain.Enums
@using GFCA.APT.Domain.Dto
@using Syncfusion.EJ2
@model GFCA.APT.Domain.Dto.DocumentStateDto

<div class="row mb-2">
    <div class="col col-lg-12 p-1">
        <div class="card card-info card-outline">
            <div class="card-body">

                <div>

                    <div data-alerts="alerts"
                         data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}'
                         data-ids="myid"
                         data-fade="4000"
                         data-usebullets="true"></div>

                    <div class="row justify-content-center">
                        <div class="col col-sm-12 col-lg-12">

                            <div class="row">

                                <div class="col col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group row">

                                        <label class="col col-lg-4 control-label text-right">
                                            Company
                                        </label>
                                        <div class="col col-lg-8">
                                            @if (Model != null)
                                            {
                                                @(Html.EJS().TextBox("txt-company")
                                                .Value(Model.DOC_CODE)
                                                .Enabled(false)
                                                .Render())
                                            }
                                        </div>

                                    </div>
                                </div>

                                <div class="col col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group row">

                                        <label class="col col-lg-4 control-label text-right">
                                            Document No
                                        </label>
                                        <div class="col col-lg-8">
                                            @if (Model != null)
                                            {
                                                @(Html.EJS().TextBox("txt-document-no")
                                                .Value(Model.DOC_CODE)
                                                .Enabled(false)
                                                .Render())
                                            }
                                        </div>

                                    </div>
                                </div>

                                <div class="col col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group row">

                                        <label class="col col-lg-4 control-label text-right">
                                            Version
                                        </label>
                                        <div class="col col-lg-8">
                                            @if (Model != null)
                                            {
                                                @(Html.EJS().TextBox("txt-version")
                                                .Value(Model.DOC_VER.ToString())
                                                .Enabled(false)
                                                .Render())
                                            }
                                            <input id="DOC_VER" type="hidden" value="@Model.DOC_VER" />
                                            <input id="DOC_REV" type="hidden" value="@Model.DOC_REV" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-sm-12 col-md-6 col-lg-3">
                                    <div class="form-group row">

                                        <label class="col col-lg-4 control-label text-right">
                                            Status
                                        </label>
                                        <div class="col col-lg-8">
                                            @if (Model != null)
                                            {
                                                @(Html.EJS().TextBox("txt-status")
                                                    .Value(Model.DOC_STATUS.ToString())
                                                    .Enabled(false)
                                                    .Render())
                                            }
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                </div>

            </div>

        </div>
    </div>
</div>


