@using Syncfusion.EJ2

@{ Dictionary<string, object> disabled = new Dictionary<string, object>();
    disabled.Add("disabled", "true"); }
<!-- <button type="button" class="btn btn-primary" hidden="hidden" data-toggle="modal" data-target=".bd-brand-modal-lg" data-backdrop="static" data-keyboard="true" data-show="true">popup manage item</button> -->
<form class="form-horizontal" id="pop-form-brand" autocomplete="off">
    <div id="popup-tradeactivity" class="modal fade bd-brand-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pop-lbl-header-title">NEW Acivity</h5>
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div data-alerts="alerts"
                             data-titles='{"warning": "<em>Warning!</em>", "error": "<em>Error!</em>"}'
                             data-ids="myid"
                             data-fade="4000"
                             data-usebullets="true"></div>



                    </div>


                    <div>
                        <!--!-->
                        <div class="table">
                            <!--!-->
                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">Activity ID :</div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">
                                        @Html.EJS().TextBox("pop-txt-activity_id").Value("0").HtmlAttributes(disabled).Render()
                                    </div><!--!-->
                                </div><!--!-->


                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">
                                        <!--
                                                                                &nbsp;&nbsp;
                                                                                          <a href="/Master/Accountants/GLGroups" class="e-control e-btn e-lib e-small e-round e-icon-btn">

                                                                                    <span class="fas fa-pencil-alt e-btn-icon"></span>
                                                                                </a>

                                        !-->


                                    </div><!--!-->
                                </div><!--!-->

                            </div><!--!-->


                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">GL Account</div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">
                                        @(Html.EJS().ComboBox("pop-cmd-acc_id")
                .Placeholder("-- Select --")
                .Autofill(true)
                .DataSource(o =>
                {
                    o.Url("/api/Selection/GetGLAccount")
                    .CrossDomain(false)
                    .Adaptor("UrlAdaptor");
                })

                                            //    .Change("tradeactivityPopup.OnAccountIdChangeValue")
                                             //   .Select("5")
                                                //.Select("tradeactivityPopup.OnAccountIdChangeValue")
                                              //  .Change("tradeactivityPopup.OnAccountIdChangeValue")
                                                .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                .Render())
                                    </div><!--!-->
                                </div><!--!-->
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">
                                        <!--


                                                                            <a href="/Master/Accountants/GLAccounts" class="e-control e-btn e-lib e-small e-round e-icon-btn">

                                                                                    <span class="fas fa-pencil-alt e-btn-icon"></span>


                                                                                </a>

                                        !-->
                                    </div><!--!-->
                                </div><!--!-->
                            </div><!--!-->
                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">
                                        Activity Code
                                    </div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">
                                        @Html.EJS().TextBox("pop-txt-activity_code").Render()
                                    </div><!--!-->
                                </div><!--!-->
                            </div><!--!-->
                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">
                                        Activity Type
                                    </div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">

                                        @Html.EJS().TextBox("pop-txt-activity_type").Render()

                                    </div><!--!-->
                                </div><!--!-->
                            </div><!--!-->
                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">Activity Name</div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">

                                        @Html.EJS().TextBox("pop-txt-activtity_name").Render()

                                    </div><!--!-->
                                </div><!--!-->
                            </div>
                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    <div class="table_cell">Activity Description</div>
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">

                                        @Html.EJS().TextBox("pop-txt-activity_desc").Multiline(true).Render()

                                    </div><!--!-->
                                </div><!--!-->
                            </div>


                            <div class="table_row">
                                <!--!-->
                                <!--!--><div class="table_small">
                                    &nbsp;
                                </div>
                                <div class="table_small">
                                    <!--!-->
                                    <div class="table_cell">





                                        <div class="col-sm-9 col-md-10 col-lg-9">
                                            @Html.EJS().CheckBox("pop-cmb-is_active").Render()
                                            <label for="pop-ckb-is-active" class="e-label">Active</label>

                                        </div>




                                    </div>

                                    <div class="table_cell">





                                        <div class="col-sm-9 col-md-10 col-lg-9">
                                            @Html.EJS().CheckBox("pop-txt-has_fixed_contract").Render()
                                            <label for="pop-txt-has_fixed_contract" class="e-label">Fixed Contract</label>

                                        </div>




                                    </div><!--!-->


                                    <div class="table_cell">





                                        <div class="col-sm-9 col-md-10 col-lg-9">
                                            @Html.EJS().CheckBox("pop-txt-can_deductable").Render()
                                            <label for="pop-txt-can_deductable" class="e-label">Deductable</label>

                                        </div>



                                    </div>

                                    <div class="table_cell">






                                    </div>
                                </div><!--!-->

                            </div><!--!-->


                        </div><!--!-->
                        <br>
                        <div class="table">
                            <!--!-->
                            <div class="table_row">
                                <!--!-->
                                <div class="table_small">
                                    <!--!-->
                                    <!--!--><div class="table_cell"><h4>Sale In (Actual Sale)</h4></div>
                                    <div class="table_cell">
                                        <!--!-->
                                        <ul style="list-style-type:none">
                                            <!--!-->
                                            <li>
                                                <div>
                                                    @Html.EJS().CheckBox("pop-txt-in_thb_cs").Render()
                                                    <label for="pop-txt-in_thb_cs" class="e-label">THB/cs</label>

                                                </div>



                                            </li><!--!-->
                                            <li>

                                                @Html.EJS().CheckBox("pop-txt-in_gross_sale").Render()
                                                <label for="pop-txt-in_gross_sale" class="e-label">% to Gross Sale</label>

                                            </li><!--!-->
                                            <li>
                                                @Html.EJS().CheckBox("pop-txt-in_not_sale").Render()
                                                <label for="pop-txt-in_not_sale" class="e-label">% to Not Sale</label>

                                            </li><!--!-->
                                        </ul><!--!-->
                                    </div><!--!-->
                                </div><!--!-->



                                <div class="table_small">
                                    <!--!-->
                                    <!--!--><div class="table_cell"><h4>Sale Out (Estimated)</h4></div>
                                    <div class="table_cell">
                                        <!--!-->
                                        <ul style="list-style-type:none">
                                            <!--!-->
                                            <li>
                                                @Html.EJS().CheckBox("pop-txt-out_thb_cs").Render()
                                                <label for="pop-txt-out_thb_cs" class="e-label">THB/cs</label>



                                            </li><!--!-->
                                            <li>
                                                @Html.EJS().CheckBox("pop-txt-out_gross_sale").Render()
                                                <label for="pop-txt-out_gross_sale" class="e-label">% to Gross Sale</label>
                                            </li><!--!-->
                                            <li>
                                                @Html.EJS().CheckBox("pop-txt-out_not_sale").Render()
                                                <label for="pop-txt-out_not_sale" class="e-label">% to Not Sale</label>



                                            </li><!--!-->
                                        </ul><!--!-->
                                    </div><!--!-->
                                </div><!--!-->
                            </div><!--!-->

                        </div><!--!-->
                    </div>
                </div>




                <div class="modal-footer">
                    <button id="pop-btn-del" type="button" class="btn e-control e-btn e-lib e-danger" data-loading-text="Processing..." onclick="javascript:tradeactivityPopup.onDelete(this)">Delete</button>
                    <button id="pop-btn-save" type="button" class="btn e-control e-btn e-lib e-primary" data-loading-text="Processing..." onclick="javascript:tradeactivityPopup.onSave(this)">Save</button>
                    <button type="button" class="btn e-control e-btn e-lib e-secondary" data-dismiss="modal" onclick="javascript:tradeactivityPopup.close(this)">Close</button>
                </div>

            </div>
        </div>
    </div>
</form>



