@{
#if DNX48
    ViewBag.Title = "Brand";
#endif
}
@using GFCA.APT.Domain.HTTP.Controls
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Grids
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@section styles
{
    <style>
        .form-group.col-md-6 {
            width: 250px;
        }

        :-ms-fullscreen, .e-dialog {
            max-width: 552px;
        }

        @@media only screen and (max-width: 991px) {
            .e-dialog.e-control.e-popup {
                min-width: 300px !important;
            }
        }

        @@media only screen and (min-width: 992px) {
            .e-dialog.e-control.e-popup {
                /* min-width: 550px !important;*/
                min-width: 300px !important;
                min-height: 180px;
            }

            .e-bigger.e-dialog.e-control.e-popup,
            .e-bigger .e-dialog.e-control.e-popup {
                min-height: 496px;
            }
        }
    </style>
}

@section ContentPlaceholder
{
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-lg-12 p-1">
                    <div class="card card-success card-outline">
                        <div class="card-body text-sm p-1">
                            @(Html.EJS()
                                  .Grid("grdBrand")
                                  .Height("450")
                                  .FrozenColumns(1)
                                  .FrozenColumns(6)
                                  .DataSource(ds =>
                                  {
                                      ds
                                      .Url(@Url.Action("UrlDatasource", "Brand", new { Area = "Masters" }))
                                      .Adaptor("UrlAdaptor")
                                      ;
                                  })
                                  .ShowColumnMenu(false).AllowSorting()
                                  .AllowPaging(true).PageSettings(page => page.PageCount(5))
                                  .AllowFiltering(true).FilterSettings(filter => filter.Type(FilterType.Excel))
                                  .AllowExcelExport()
                                  .Toolbar(new List<object>() {
                                      new { id ="toolbar_add", text = "Add", prefixIcon = "e-icons e-add" },
                                      new { id ="toolbar_edit", text = "Edit", prefixIcon = "e-icons e-edit" },
                                      new { id ="toolbar_del", text = "Delete", prefixIcon = "e-icons e-delete" },
                                      new { id ="toolbar_excel", text = "Excel", prefixIcon = "e-icons e-excelexport" },
                                      new { text = "Print", prefixIcon = "e-icons e-print" },
                                  })
                                  .ToolbarClick("brandPopup.OnToolbarClick")
                                  .EditSettings(edit =>
                                  {
                                      edit
                                      .AllowEditOnDblClick(false)
                                      .AllowAdding(true)
                                      .AllowEditing(true)
                                      .AllowDeleting(true).ShowConfirmDialog(true).ShowDeleteConfirmDialog(true)
                                      .Mode(EditMode.Dialog)
                                      .Template("#dialogtemplate");
                                  })
                                  .DataBound("brandPopup.OnDataBound")
                                  .RowDeselected("brandPopup.OnRowDeselected")
                                  .RowSelected("brandPopup.OnRowSelected")
                                  .Columns(col =>
                                  {
                                      col.Field("CLIENT_CODE").HeaderText("Client Code").Width("150")
                                      .ForeignKeyField("CLIENT_ID")
                                      .ForeignKeyValue("CLIENT_CODE")
                                      .ValidationRules(new { required = false })
                                      .HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center)
                                      .Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Left).Add();

                                      col.Field("BRAND_ID").HeaderText("ID").Width("115")
                                      .IsPrimaryKey(true).ValidationRules(new { required = true, number = true })
                                      .HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Add();

                                      col.Field("BRAND_CODE").HeaderText("Code").Width("150").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("BRAND_NAME").HeaderText("Name").Width("308").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("BRAND_DESC").HeaderText("Description").Width("558").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("FLAG_ROW").HeaderText("Status").Width("98").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Center).Freeze(Syncfusion.EJ2.Grids.FreezeDirection.Right).Add();
                                      col.Field("CREATED_BY").HeaderText("Created By").Width("250").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("CREATED_DATE").HeaderText("Created Date").Width("208").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("UPDATED_BY").HeaderText("Updated By").Width("250").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                      col.Field("UPDATED_DATE").HeaderText("Updated Date").Width("208").Format("dd-MMM-yyyy hh:mm:ss").HeaderTextAlign(TextAlign.Center).TextAlign(TextAlign.Left).Add();
                                  })
                                  .Render())

                        </div>
                    </div><!-- /.card -->
                </div>
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    @Html.Partial("~/Areas/Masters/Views/Brand/_Popup_Brand.cshtml")
}

@section preScripts
{
    <!-- BEGIN preScripts -->
    <script>

        var urlServices = {
            CurrentUrl: "@Url.Action("index", "Brand", new { Area = "Masters" })",
            Add       : "@Url.Action("Add", "Brand", new { Area = "Masters" })",
            Edit      : "@Url.Action("Edit", "Brand", new { Area = "Masters" })",
            Delete    : "@Url.Action("Delete", "Brand", new { Area = "Masters" })",
        }

        var argruments = {
            data: null,
        }

    </script>

    @Scripts.Render("~/Scripts/masters/brandPopup.js")
    <!-- END preScripts -->

}

@section scripts
{

    @Scripts.Render("~/Scripts/masters/brand.js")
    
}
