@using GFCA.APT.Domain.HTTP.Controls
@using System.Collections.Generic
@using Syncfusion.EJ2.DropDowns
@using Syncfusion.EJ2.Popups
@using Syncfusion.EJ2.Inputs
@using Syncfusion.EJ2

@{
    Dictionary<string, object> disabled = new Dictionary<string, object>();
    disabled.Add("disabled", "true");

}

@model GFCA.APT.Domain.Dto.FixedContractDto

<form autocomplete="off" class="form-horizontal" action="/T/FixedContracts/7" method="post" enctype="multipart/form-data">

    <div class="row mb-2">
        <div class="col col-lg-12 p-1">
            <div class="card card-info card-outline">
                <div class="card-header">
                    <h6>Fixed contract detail</h6>
                </div>
                <div class="card-header">

                    <div class="justify-content-start">

                        <div class="col col-sm-12 col-lg-10">

                            <div class="row">
                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Detail No
                                        </label>
                                        <div class="col col-lg-8">
                                            @Html.EJS().TextBox("txt-detail-no").Placeholder("[Auto generate]").HtmlAttributes(disabled).Render()
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Brand
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("BRAND_CODE")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetBrand/true")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(Model.Detail.BRAND_CODE)
                                                        //.Change("fixedContractDetail.OnBrandChangeValue")
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Apply to All
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().TextBox("txt-apply-to-all")
                                                        //.Change("fixedContractDetail.txtApplyAllChange")
                                                        .Placeholder("Input number only")
                                                        .Render())
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Trade Activity
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("ACTIVITY_CODE")
                                                        .Placeholder("-- Select --")
                                                        .Value("38")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetTradeActivity")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(Model.Detail.ACTIVITY_CODE)
                                                        //.Change("fixedContractDetail.OnTradeActivityChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Category
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("CONTRACT_CATE")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCategory")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.Detail.CONTRACT_CATE)
                                                        //.Change("fixedContractDetail.OnCategoryChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Date Reference
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("DATE_REF")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetDateReference")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.Detail.DATE_REF)
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            UOM
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("UOM")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetUnit")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.Detail.UOM)
                                                        //.Change("fixedContractDetail.OnUOMChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Size
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("SIZE")
                                                        .Placeholder("-- Select --")
                                                        .Value("1000")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetSize")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.Detail.SIZE)
                                                        //.Change("fixedContractDetail.OnSizeChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Pack
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("PACK")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetPack")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Value(Model.Detail.PACK)
                                                        //.Change("fixedContractDetail.OnPackChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Cost Center
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().ComboBox("CENTER_CODE")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCostCenter")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(Model.Detail.CENTER_CODE)
                                                        //.Change("fixedContractDetail.OnCostCenterChangeValue")
                                                        .Fields(new Syncfusion.EJ2.DropDowns.ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                        </div>
                                    </div>
                                </div>

                                <div class="col col-sm-12 col-lg-6">
                                    <div class="form-group row">
                                        <label class="col col-lg-4 control-label text-lg-right text-md-right text-sm-left">
                                            Remark
                                        </label>
                                        <div class="col col-lg-8">
                                            @(Html.EJS().TextBox("CONTRACT_DESC")
                                                        .Value(Model.Detail.CONTRACT_DESC)
                                                        .Multiline(true)
                                                        .Render())
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-body">
                    <div>

                        <div class="row">

                            <div class="col col-sm-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Q1</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="col col-lg-12 align-content-center">

                                            <div class="form-group row mb-1">

                                                <div class="col col-lg-3 offset-lg-2 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Plan
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3">
                                                    <label class="control-label text-center e-text-center">
                                                        Actual
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Duration
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    January
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M01")
                                                                .Value(Model.Detail.M01.ToString())
                                                                .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpJan")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    February
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M02")
                                                    .Value(Model.Detail.M02.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpFeb")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    March
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M03")
                                                    .Value(Model.Detail.M03.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpMar")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group row mb-0">
                                            <label class="col col-lg-2 control-label text-right">
                                                Accumulate
                                            </label>
                                            <div class="col col-lg-3">
                                                <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                            <div class="col col-lg-3">
                                                <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Q2</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="col col-lg-12 align-content-center">

                                            <div class="form-group row mb-1">

                                                <div class="col col-lg-3 offset-lg-2 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Plan
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3">
                                                    <label class="control-label text-center e-text-center">
                                                        Actual
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Duration
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    April
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M04")
                                                                .Value(Model.Detail.M04.ToString())
                                                                .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpApr")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    May
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M05")
                                                    .Value(Model.Detail.M05.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpMay")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    June
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M06")
                                                        .Value(Model.Detail.M06.ToString())
                                                        .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpJun")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group row mb-0">
                                            <label class="col col-lg-2 control-label text-right">
                                                Accumulate
                                            </label>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col col-sm-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Q3</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="col col-lg-12 align-content-center">

                                            <div class="form-group row mb-1">

                                                <div class="col col-lg-3 offset-lg-2 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Plan
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3">
                                                    <label class="control-label text-center e-text-center">
                                                        Actual
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Duration
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    July
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M07")
                                                    .Value(Model.Detail.M07.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpJul")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    August
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M08")
                                                    .Value(Model.Detail.M08.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpAug")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    September
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M09")
                                                    .Value(Model.Detail.M09.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpSep")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group row mb-0">
                                            <label class="col col-lg-2 control-label text-right">
                                                Accumulate
                                            </label>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col col-sm-12 col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h6>Q4</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="col col-lg-12 align-content-center">

                                            <div class="form-group row mb-1">

                                                <div class="col col-lg-3 offset-lg-2 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Plan
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3">
                                                    <label class="control-label text-center e-text-center">
                                                        Actual
                                                    </label>
                                                </div>
                                                <div class="col col-lg-3 align-content-center">
                                                    <label class="control-label text-center e-text-center">
                                                        Duration
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    October
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M10")
                                                    .Value(Model.Detail.M10.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpOct")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    November
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M11")
                                                    .Value(Model.Detail.M11.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpNov")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col col-lg-2 control-label text-lg-right text-md-right text-sm-left">
                                                    December
                                                </label>
                                                <div class="col col-lg-3">
                                                    @(Html.EJS().TextBox("M12")
                                                    .Value(Model.Detail.M12.ToString())
                                                    .Render())
                                                </div>
                                                <div class="col col-lg-3">
                                                    <input type="text" disabled class="e-control e-textbox e-lib e-input" />
                                                </div>
                                                <label class="col col-lg-4 control-label text-right">
                                                    @(Html.EJS().DateRangePicker("drpDec")
                                                                    .Placeholder("Choose a Range")
                                                                    .StartDate(new DateTime(2021, 1, 1))
                                                                    .EndDate(new DateTime(2021, 12, 31))
                                                                    .Format("dd/MM/yyyy")
                                                                    .Enabled(true)
                                                                    .Render())
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="form-group row mb-0">
                                            <label class="col col-lg-2 control-label text-right">
                                                Accumulate
                                            </label>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                            <div class="col col-lg-3">
                                                <input type="number" disabled class="e-control e-textbox e-lib e-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card-footer">
                    <div>

                        <div class="row">
                            <div class="col col-sm-12 col-lg-3 offset-lg-9">
                                <!-- Confirm State -->
                                <button id="btn-fixed-contact-detail-save" type="submit" value="SUBMIT" class="btn btn-primary" data-loading-text="Processing...">Save</button>
                                <button id="btn-fixed-contact-detail-back" class="btn btn-default">Back</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</form>
@section preScripts
{
    @Scripts.Render("~/Scripts/transactions/fixedContractDetail.js")
}

