@using GFCA.APT.Domain.Dto
@using Syncfusion.EJ2.DropDowns
@using Syncfusion.EJ2

@{ 
    FixedContractHeaderDto dto = ViewData["FixedContractHeaderDto"] as FixedContractHeaderDto;
}

<div class="row mb-2">
    <div class="col col-lg p-1">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h6>Contract header</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col col-sm-12 col-lg-10">

                        <div class="row">

                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Client
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-client")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetClient")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(dto.CLIENT_CODE)
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Customer
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-customer")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetCustomer")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(dto.CUST_CODE)
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Channel
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-channel")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetChannel")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Value(dto.CHANNEL_CODE)
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Requester
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-requester")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(false)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetEmployee/false")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .CssClass("mandatory")
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                                <div class="form-group row">
                                    <label class="col col-lg-4 control-label text-right">
                                        Position
                                    </label>
                                    <div class="col col-lg-8">
                                        @(Html.EJS().ComboBox("cmb-emp-org")
                                                        .Placeholder("-- Select --")
                                                        .Autofill(true)
                                                        .DataSource(o =>
                                                        {
                                                            o.Url("/api/Selection/GetOrganization")
                                                            .CrossDomain(false)
                                                            .Adaptor("UrlAdaptor");
                                                        })
                                                        .Change("fixedContractDetail.cmbPositionChange")
                                                        .CssClass("mandatory")
                                                        .Fields(new ComboBoxFieldSettings { Text = "Text", Value = "Value" })
                                                        .Render())
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-lg-4">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>